include ../../common/mixins
//- include ../../common/fonts-paterns
//- hr 
section.board24_middle.board24_meet
  .board24_meet__body
    include meet-nav 
    .board24_meet__content.board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__line.board24_meet-content__line_high.meet-content-line 
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet1" value="1"   id="meet1")
                label.board24_ts-7-b(for="meet1")
            .meet-content-line__status.board24_ts-24-opacity Статус
            .meet-content-line__text.board24_ts-24-opacity Тема
            .meet-content-line__type.board24_ts-24-opacity Тип
            .meet-content-line__organ.board24_ts-24-opacity Коллегиальный орган
            .meet-content-line__date.board24_ts-24-opacity Дата
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet2" value="1"   id="meet2")
                label.board24_ts-7-b(for="meet2")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet3" value="1"   id="meet3")
                label.board24_ts-7-b(for="meet3")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet4" value="1"   id="meet4")
                label.board24_ts-7-b(for="meet4")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Заседание № 458776 23 мая
            .meet-content-line__type.board24_ts-12 Event
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet5" value="1"   id="meet5")
                label.board24_ts-7-b(for="meet5")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet6" value="1"   id="meet6")
                label.board24_ts-7-b(for="meet6")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet7" value="1"   id="meet7")
                label.board24_ts-7-b(for="meet7")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet8" value="1"   id="meet8")
                label.board24_ts-7-b(for="meet8")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet9" value="1"   id="meet9")
                label.board24_ts-7-b(for="meet9")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet10" value="1"   id="meet10")
                label.board24_ts-7-b(for="meet10")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet11" value="1"   id="meet11")
                label.board24_ts-7-b(for="meet11")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet12" value="1"   id="meet12")
                label.board24_ts-7-b(for="meet12")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet13" value="1"   id="meet13")
                label.board24_ts-7-b(for="meet13")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet14" value="1"   id="meet14")
                label.board24_ts-7-b(for="meet14")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet15" value="1"   id="meet15")
                label.board24_ts-7-b(for="meet15")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание № 458776 порядковый номер N321 543...
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet16" value="1"   id="meet16")
                label.board24_ts-7-b(for="meet16")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet17" value="1"   id="meet17")
                label.board24_ts-7-b(for="meet17")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet18" value="1"   id="meet18")
                label.board24_ts-7-b(for="meet18")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание № 458776 порядковый номер N321 543...
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet19" value="1"   id="meet19")
                label.board24_ts-7-b(for="meet19")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018

#board24_meet-popup1.board24_meet__popup
  .board24_meet__overlay
    .board24_meet__center
      section.board24_middle-inter-6.board24_middle-inter-2.board24_inter6
        span.board24_cross.icon-close2
        .board24_inter6__header.board24_ts-4 Создать заседание
        .board24_inter6__inter-plaza1.board24_inter-plaza
          .board24_bot.board24_meet-up
            .board24_bot__text.board24_ts-5 Название заседания
            input.board24_ts-6.board24_bot__input(type="text"  placeholder='Office meet-up')
            //- .board24_bot__text-area.board24_js-data 
          hr
          .board24_bot.board24_meet-up
            .board24_bot__text.board24_ts-5 Тема 
            input.board24_ts-6.board24_bot__input(type="text"  placeholder='Office meet-upOffice meet-upOffice meet-up')
            //- .board24_bot__text-area.board24_js-data
          hr
          .board24_inter-plaza__bots.board24-corvet.board24-bots
            .board24-corvet__text-area
              //- bot
              .board24_bot
                .board24_bot__text.board24_ts-5 Дата
                .board24_bot__text-area.board24_js-data
                  input.board24_ts.board24_bot__input.board24_bot__input_data(type="text"  placeholder='Введите дату')
                  .board24_bot__in-text.board24_ts-5 
                  img(src="assets/img/inter/schedule.svg",alt="img")  
              bot
              .board24_bot
                .board24_bot__text.board24_ts-5 Время 
                .board24_bot__text-area.board24_js-data  
                  input.board24_ts.board24_bot__input.board24_bot__input_data(type="text"  placeholder='Укажите время') 
                  //- .board24_bot__in-text-blue
                  //-   p.board24_ts-29  
                  span.icon-arrow_drop_down
        

          //- .board24-corvet.board24_m8  
          //-   .board24-corvet__text.board24_ts-5 Тип
          //-   .board24-corvet__text-area   
          //-     a.board24-corvet__in-text(href="#!").board24_ts.board24_jucb.board24_alic  
          //-       span.board24_ts-6 Онлайн встреча 
          //-       span.board24_ts-29 Добавить еще
        
          .board24-corvet.board24_m8
            .board24-corvet__text.board24_ts-5 Тип
            .board24-corvet__text-area.board24-corvet__text-area_select
              select.js-example-basic-single( name="BOARD24_TYPE") 
                option(value="123")  Тест 
                          //- ------------------
          .board24-corvet.board24_m8 
            .board24-corvet__text.board24_ts-5 Председатель:
            .board24-corvet__text-area   
              a.board24-corvet__in-text(href="#!").board24_ts.board24_alic.board24_jucb 
                span.board24_ts-6 Совет директоров
                span.icon-close2
          .board24-corvet.board24_m8 
            .board24-corvet__text.board24_ts-5 Секретарь:
            .board24-corvet__text-area   
              a.board24-corvet__in-text(href="#!").board24_ts.board24_alic
                span.board24_ts-29 Добавить 
          .board24-corvet.board24_m8 
            .board24-corvet__text.board24_ts-5 Участник,без права голоса
            .board24-corvet__text-area   
              a.board24-corvet__in-text(href="#!").board24_ts.board24_alic.board24_jucb
                span.board24_ts-6 Совет директороов
                span.icon-close2
          .board24-corvet.board24_m8 
            .board24-corvet__text.board24_ts-5 Участник,с правом голоса
            .board24-corvet__text-area   
              a.board24-corvet__in-text(href="#!").board24_ts.board24_alic
                span.board24_ts-29 Добавить 
                span.board24_ts 
          .board24-corvet.board24_m8 
            .board24-corvet__text.board24_ts-5 Коллегиальный орган
            .board24-corvet__text-area 
              a.board24-corvet__in-text(href="#!").board24_ts.board24_alic
                span.board24_ts-29 Добавить 
                span.board24_ts 
          .board24-corvet.board24_m8 
            .board24-corvet__text.board24_ts-5 Место проведения
            .board24-corvet__text-area   
              a.board24-corvet__in-text(href="#!").board24_ts.board24_alic
                span.board24_ts-29 Добавить 
                span.board24_ts
          .board24_inter6__title1.board24_ts-5 Описание задачи
          .board24_inter-plaza__text-area1.board24_area1 
            .board24_js-data
              textarea.board24_bot__input.board24_bot__input_one.board24_ts( type="text"  placeholder=" Leave a note here ..." )
              .board24_area1__text.board24_ts
                span.board24_ts Leave a note here..
                span Lorem ipsum dolor sit, amet consectetur adipisicing Doloremque eligendi       quibusdam hic, dolorem, laboriosam vero blanditiis labore ex quo autem,   dolores     similique sapiente Officia saepe autem delectus perspiciatis!
            .board24_jucb
              .board24_jucb
                a.board24_area1__img(href="#!") 
                  img(src="assets/img/inter/vt-1.svg",   alt="img")
                a.board24_area1__img(href="#!")
                  img(src="assets/img/inter/vt-2.svg",   alt="img")
                a.board24_area1__img(href="#!")
                  img(src="assets/img/inter/vt-3.svg",   alt="img")
              .board24_flex
                .board24_area1__button 
                  +button-color-cub("Отменить","pale-grey","#!")
                .board24_area1__button
                  +button-color-cub("Сохранить","silver","#!")
        .board24_inter6__inter-plaza2.board24_inter-plaza.inter6-plaza2
          span.icon-close2
          .inter6-plaza2__corvet.board24-corvet
            .board24-corvet__text.board24_ts-5 Вопрос №1
            input.board24_ts.board24_bot__input.board24-corvet__text-area(type="text"  placeholder='Описание вопроса')
            .board24-corvet__text-area
              .board24_js-data
                a.board24-corvet__in-text(href="#!").board24_ts  
                  span.board24_ts-8 Описание вопроса 
                  span.board24_ts 
                    img(src="assets/img/inter/edit.svg",alt="img") 
            
          .inter6-plaza2__corvet.board24-corvet.board24_m8
            .board24-corvet__text.board24_ts-5 Докладчик:
            .board24-corvet__text-area   
              a.board24-corvet__in-text(href="#!").board24_ts
                span.board24_ts-8  Константин Константинопольский 
                span.board24_ts 
              a.board24-corvet-a.board24_ts-29(href="#!") &nbsp + Добавить докладчика  
              img(src="assets/img/inter/edit.svg",alt="img")
          .inter6-plaza2__corvet.board24-corvet.board24_m8
            .board24-corvet__text.board24_ts-5 Проект решение №1
            input.board24_ts.board24_bot__input.board24-corvet__text-area(type="text"  placeholder='Текст описание проект решения') 
            .board24-corvet__text-area   
              .board24_js-data
                a.board24-corvet__in-text(href="#!").board24_ts
                  span.board24_ts-8 Текст описание проект решения 
                  span.board24_ts 
                    img(src="assets/img/inter/edit.svg",alt="img") 
          +button-empty("Добавить проект решения","#!")
        .board24_inter6__buttons.board24_m24.board24_alic 
            +button-blue("Добавить вопрос","#!")
            +button-empty("Добавить из засседания","#!")
            +button-empty("Добавить из поручения","#!")
        .board24_inter6__buttons1.board24_inter__buttons.board24_jucs.board24_m34
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="inter2" value="1" id="yes2")
                label.board24_ts-7-b(for="yes2") Сохранить как шаблон
            +button-empty("Отменить","#!") 
            +button-blue("Создать заседание","#!")
#board24_meet-popup2.board24_meet__popup
  .board24_meet__overlay
    .board24_meet__center.board24_jucc
      span.board24_cross.icon-close2
      .board24_meet__title.board24_ts-4 Вы хотите создать заседание самостоятельно, или дать поручение секретарю?
      .board24_meet__buttons.board24_jucc
        +button-empty("Создать поручение секретарю","#!")
        +button-blue("Собрать заседание самостоятельно","#!")

#board24_meet-popup3.board24_meet__popup 
  .board24_meet__overlay
    .board24_meet__center.board24_jucc
      section.board24_middle-inter-5.board24_middle-inter.board24_middle-inter-2
          span.board24_cross.icon-close2
          .board24_inter__header.board24_ts-4 Новое поручение 
          //- inter-plaza
          .board24_inter__plaza.board24_inter-plaza
            .board24_inter-plaza__header.board24_ts-5 Название поручения 
    
            .board24_inter-plaza__discription.board24_ts-6.board24_jucb  Поручение №1234567890
              forma.board24_inter-forma.board24_flex 
                .board24_flex.board24_inter-forma__item 
                  input.custom-checkbox(type="checkbox" name="i6" value="1" id="i6")
                  label.board24_text-small-blue.board24_ts-7(for="i6") Отметить как важное  
            hr
            //- area1
            .board24_inter-plaza__text-area1.board24_area1 
              //- input.board24_area1__input.board24_ts(type="textarea"  placeholder='Leave a note here ... ')
              textarea.board24_area1__input.board24_ts( type="text"  placeholder=" Leave a note here ..." )
              .board24_js-data
                .board24_area1__text
                  span.board24_ts Leave a note here ... 
                  span.board24_ts-6 
              
              .board24_jucb
                .board24_jucb
                  a.board24_area1__img(href="#!") 
                    img(src="assets/img/inter/vt-1.svg",   alt="img")
                  a.board24_area1__img(href="#!")
                    img(src="assets/img/inter/vt-2.svg",   alt="img")
                  a.board24_area1__img(href="#!")
                    img(src="assets/img/inter/vt-3.svg",   alt="img")
                .board24_flex
                  .board24_area1__button 
                    +button-color-cub("Отменить","pale-grey","#!")
                  .board24_area1__button
                    +button-color-cub("Сохранить","silver","#!")
            //-  corvet
            .board24-corvet
              .board24-corvet__text.board24_ts-5 Ответственный
              .board24-corvet__text-area   
                .board24-corvet__in-text.board24_ts
                  span.board24_ts-7-b Добавить еще 
                  span.board24_ts Lorem ipsum dolor, sit amet consecadipisicing elit. Sed             sunt quam neque voluptates accusdicta assumenda, molestiae obcaecati            suscipit harum facead veniam, consectetur quae quas? Vel, accusantium           minus?
                img(src="assets/img/inter/edit.svg",alt="img") 
            //-  corvet
            .board24-corvet
              .board24-corvet__text.board24_ts-5 Постановщик
              .board24-corvet__text-area   
                .board24-corvet__in-text.board24_ts
                  span.board24_ts-7-b Добавить еще
                  span.board24_ts Lorem ipsum dolor, sit amet consecadipisicing elit. Sed             sunt quam neque voluptates accusdicta assumenda, molestiae obcaecati            suscipit harum facead veniam, consectetur quae quas? Vel, accusantium           minus?
                img(src="assets/img/inter/edit.svg",alt="img") 
            //-  corvet
            .board24-corvet
              .board24-corvet__text.board24_ts-5 Соисполнители
              .board24-corvet__text-area   
                .board24-corvet__in-text.board24_ts
                  span.board24_ts-7-b Добавить еще
                  span.board24_ts Lorem ipsum dolor, sit amet consecadipisicing elit. Sed             sunt quam neque voluptates accusdicta assumenda, molestiae obcaecati            suscipit harum facead veniam, consectetur quae quas? Vel, accusantium           minus?
                img(src="assets/img/inter/edit.svg",alt="img") 
            //-  corvet
            .board24-corvet
              .board24-corvet__text.board24_ts-5 Наблюдатели
              .board24-corvet__text-area   
                .board24-corvet__in-text.board24_ts
                  span.board24_ts-7-b Добавить еще 
                  span.board24_ts Lorem ipsum dolor, sit amet consecadipisicing elit. Sed             sunt quam neque voluptates accusdicta assumenda, molestiae obcaecati            suscipit harum facead veniam, consectetur quae quas? Vel, accusantium           minus?
                img(src="assets/img/inter/edit.svg",alt="img") 
            
            //- bots
            .board24_inter-plaza__bots.board24-corvet.board24-bots
              .board24-corvet__text.board24_ts-5 Крайний <br> срок
              .board24-corvet__text-area
                //- bot
                .board24_bot
                  input.board24_ts.board24_bot__input(type="text"  placeholder='Введите дату')
                  .board24_js-data
                    .board24_bot__text-area
                      .board24_bot__in-text.board24_ts Введите дату
                      img(src="assets/img/inter/schedule.svg",alt="img")
                //- bot
                .board24_bot
                  .board24_bot__text-area 
                    .board24_bot__in-text-blue
                      p.board24_ts-7-b Планирование сроков 
                      span.icon-arrow_drop_down
                //- bot
                .board24_bot
                  .board24_bot__text-area 
                    .board24_bot__in-text-blue
                      p.board24_ts-7-b Дополнительно  
                      span.icon-arrow_drop_down

            //- corvet
            .board24_inter-plaza__corvet10.board24-corvet
              .board24-corvet__text-area 
                a.board24-corvet__in-text.board24_alic.board24_jucs(href="#!")    
                  span.board24_ts Дополнительно
                  span.icon-arrow_drop_down  

          .board24_inter__buttons.board24_jucs
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="i5" value="1" id="i5")
                label.board24_ts-7-b(for="i5") Сохранить как шаблон
            +button-empty("Отменить","#!") 
            +button-blue("Поставить поручение","#!")