include ../../common/mixins
include ../../modals/modals


+meet-popup2
//- открывает два окна
+meet-popup1
+meet-popup3

//- hr 
section.board24_middle.board24_meet
  .board24_meet__body
    include meet-nav 
    .board24_meet__content.board24_meet-content
      .board24_meet-content__body
        .board24_meet-content__line.board24_meet-content__line_high.meet-content-line 
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet1" value="1"   id="meet1")
                label.board24_ts-7-b(for="meet1")
            .meet-content-line__status.board24_ts-24-opacity Статус
            .meet-content-line__text.board24_ts-24-opacity Тема
            .meet-content-line__type.board24_ts-24-opacity Тип
            .meet-content-line__organ.board24_ts-24-opacity Коллегиальный орган
            .meet-content-line__date.board24_ts-24-opacity Дата
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet2" value="1"   id="meet2")
                label.board24_ts-7-b(for="meet2")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Заседение совета директоров
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet3" value="1"   id="meet3")
                label.board24_ts-7-b(for="meet3")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet4" value="1"   id="meet4")
                label.board24_ts-7-b(for="meet4")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Заседание № 458776 23 мая
            .meet-content-line__type.board24_ts-12 Event
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet5" value="1"   id="meet5")
                label.board24_ts-7-b(for="meet5")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet6" value="1"   id="meet6")
                label.board24_ts-7-b(for="meet6")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet7" value="1"   id="meet7")
                label.board24_ts-7-b(for="meet7")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet8" value="1"   id="meet8")
                label.board24_ts-7-b(for="meet8")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet9" value="1"   id="meet9")
                label.board24_ts-7-b(for="meet9")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet10" value="1"   id="meet10")
                label.board24_ts-7-b(for="meet10")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet11" value="1"   id="meet11")
                label.board24_ts-7-b(for="meet11")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet12" value="1"   id="meet12")
                label.board24_ts-7-b(for="meet12")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание 21 мая
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet13" value="1"   id="meet13")
                label.board24_ts-7-b(for="meet13")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet14" value="1"   id="meet14")
                label.board24_ts-7-b(for="meet14")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet15" value="1"   id="meet15")
                label.board24_ts-7-b(for="meet15")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание № 458776 порядковый номер N321 543...
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet16" value="1"   id="meet16")
                label.board24_ts-7-b(for="meet16")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet17" value="1"   id="meet17")
                label.board24_ts-7-b(for="meet17")
            +button-color("Подготовка","butterscotch","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Call
            .meet-content-line__organ.board24_ts-12 George Fields
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet18" value="1"   id="meet18")
                label.board24_ts-7-b(for="meet18")
            div(class="board24_button-color board24_button-color_silver silver")
              a(href=link) Завершено
            .meet-content-line__text.board24_ts-34 Заседание № 458776 порядковый номер N321 543...
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Nicci Troiani
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
        .board24_meet-content__line.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet19" value="1"   id="meet19")
                label.board24_ts-7-b(for="meet19")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018
//- --------------------
//- ----------------
//- ----------------
//- include meetPopups