
//- нужно найти здесь подходящий объект. если нет - создать новый и перенести его в mixins.pug



include ./../common/mixins

//- ------------------------------------------
//- -------------------mixins.scss--   154--
mixin button-color(text, color, link)
  div(class="board24_button-color" + " " + color)
    a(href=link)=text


//- .board24_button-color{
//-   width: 96px;
//-   height: 22px;
//-   border-radius: 14px;
//-   // background-color: #ffb946;
//-    a{
//- @include Text-Style-30;
//- @include center();
//-    }

//- }

//- .butterscotch{
//- background-color: #ffb946;
//-  }
//- .apple-green{
//-   background-color: $apple-green;
//- }
//- .silver{
//-   background-color: $silver;}


hr
+button-color("Подготовка","butterscotch","home.html")
hr
+button-color("Проведение","apple-green","home.html")
hr
+button-color("Завершено","silver","home.html")
hr



//- -----------------------------------------------------------------------
//-  ------------mixins.scss--   168------------------------------------ //

mixin button-color-cub(text, color,link)
  div(class="board24_button-color-cub" + " " + color)
    a(href=link)=text

+button-color-cub("Проведение","apple-green","home.html")


//- .board24_button-color-cub{
//- width: 102px;
//-     height: 23px;
//-     border-radius: 4px;
//-       a{
//- @include Text-Style-30;
//- @include center();
//- line-height: 0.5;
//-    }
//- }


hr

mixin button-blue(text,link)
  .board24_button-blue
    a.board24_button-blue__link(href=link)=text

+button-blue("Перейти к заседанию","home.html")

//- mixins.scss  139

//- .button-blue{
//-     width: 255px;
//-   height: 42px;
//-   border-radius: 4px;
//-   box-shadow: 0 4px 10px 0 rgba(16, 156, 241, 0.24);
//-   background-color: $azure;
//-     @include center();
//-  &__link{
//- @include Text-Style-21;
//- width: 100%;
//- height: 100%;
//- @include center();
//-  } 
//- }

hr

mixin button-blue-small(text,link)
  .board24_button-blue-small
    a.board24_button-blue-small__link(href=link)=text
+button-blue-small("Перейти к заседанию","home.html")

//- mixins.scss  154

//- .button-blue-small{
//- width: 180px;
//-     height: 22.9px;
//-     border-radius: 4px;
//-     background-color: #109cf1;
//- &__link{
//- @include Text-Style-33; 
//- width: 100%;
//- height: 100%;
//- @include center();
//-  } 

//- }

//- ---------button-empty-----------------
mixin button-empty(text,link)
  .board24_button-empty
    a.board24_button-empty__link(href=link)=text
+button-empty("Добавить","home.html")

//- mixins--196

//- .board24_button-empty{
//-   width: 130px;
//-   height: 30px;
//-   border-radius: 4px;
//-   border: solid 1px $azure;
//-     &__link{
//- @include Text-Style-36;
//- @include center();
//- line-height: 0.5;
//-     }
//-   }
//- -------button-arrow------------
mixin button-arrow(text,link)
  .board24_button-arrow
    a.board24_button-arrow__link(href=link)=text
      .board24_line-plaha__img1
        img(src="assets/img/main/Vector-1.svg",alt="img")
        img(src="assets/img/main/Vector-2.svg",alt="img")
+button-arrow("Скачать","home.html")





//- --------- fonts.scss 287----------------------
hr

h4 h4 Text Style 22

hr

h2 h2 Text Style 20

hr

h3 h3 Text Style 34

hr

h5 h5 Text Style 38

hr

h6 h6 Text Style 25

hr
