
//- нужно найти здесь подходящий объект. если нет - создать новый и перенести его в mixins.pug



include ./../common/mixins


//- --------- fonts.scss 287----------------------
h4 h4 Text Style 22
h2 h2 Text Style 20
h3 h3 Text Style 34
h5 h5 Text Style 38
h6 h6 Text Style 25




//- ------------------------------------------
//- -------------------mixins.scss--   154--
mixin button-color(text, color, link)
  div(class="board24_button-color" + " " + color)
    a(href=link)=text




hr
+button-color("Подготовка","butterscotch","#!")
hr
+button-color("Проведение","apple-green","#!")
hr
+button-color("Завершено","silver","#!")
hr



//- -----------------------------------------------------------------------
//-  ------------mixins.scss--   168------------------------------------ //

mixin button-color-cub(text, color,link)
  div(class="board24_button-color-cub" + " " + color)
    a(href=link)=text

+button-color-cub("Проведение","apple-green","home.html")



hr

mixin button-blue(text,link)
  .board24_button-blue
    a.board24_button-blue__link(href=link)=text
+button-blue("Перейти к заседанию","#!")



hr

mixin button-blue-small(text,link)
  .board24_button-blue-small
    a.board24_button-blue-small__link(href=link)=text
  +button-blue-small("Перейти к заседанию","home.html")


//- ---------button-empty-----------------
mixin button-empty(text,link)
  .board24_button-empty
    a.board24_button-empty__link(href=link)=text
+button-empty("Добавить","#!")


//- ---------button-empty-grey--------------
mixin button-empty-grey(text,link)
  .board24_button-empty-grey
    a.board24_button__link.board24_ts-41(href=link)=text

+button-empty-grey("Добавить","#!")





//- -------button-arrow------------
mixin button-arrow(text,link)
  .board24_button-arrow
    a.board24_button-arrow__link(href=link)=text
      .board24_line-plaha__img1
        img(src="assets/img/main/Vector-1.svg",alt="img")
        img(src="assets/img/main/Vector-2.svg",alt="img")
+button-arrow("Скачать","home.html")





//- ----------------------
mixin img-bg(src, alt)
  .board24_img-bg.board24_bg(
    src=src,
    style=`background-image: url('${src}')`,
    alt=alt
  )

//- ------------------------
mixin avatar-name()
  a.board24_avatar-name(href="#!")
    img(src="assets/img/main/image-1.png",alt="img")
    .board24_board24_avatar-name__name
      p Эдил Нургожин
      p Председатель Совета директоров  

//- +avatar-name()



//- area1
.board24_inter-plaza__text-area1.board24_area1 
  .board24_area1__text.board24_ts 
    span.board24_ts Описание опроса. ..
    span  Lorem ipsum dolor sit, amet consectetur adipisicing Doloremque eligendi quibusdam hic, dolorem, laboriosam vero blanditiis labore ex quo autem, dolores similique sapiente Officia saepe autem delectus perspiciatis!
  .board24_jucb
    .board24_jucb
      a.board24_area1__img(href="#!") 
        img(src="assets/img/inter/vt-1.svg",   alt="img")
      a.board24_area1__img(href="#!")
        img(src="assets/img/inter/vt-2.svg",   alt="img")
      a.board24_area1__img(href="#!")
        img(src="assets/img/inter/vt-3.svg",   alt="img")
    .board24_flex
      .board24_area1__button 
        +button-color-cub("Отменить","pale-grey","#!")
      .board24_area1__button
        +button-color-cub("Сохранить","silver","#!")


//-  corvet
.board24-corvet
  .board24-corvet__text.board24_ts-5 Вопрос №1
  .board24-corvet__text-area   
    a.board24-corvet__in-text(href="#!").board24_ts
      span.board24_ts-7-b Добавить 
      span.board24_ts Lorem ipsum dolor, sit amet consecadipisicing elit. Sed sunt quam neque voluptates accusdicta assumenda, molestiae obcaecati suscipit harum facead veniam, consectetur quae quas? Vel, accusantium minus?
    img(src="assets/img/inter/edit.svg",alt="img") 


//- // -----bots*--------планка из 2-х bot вровень с корветом---------------------

//-- bots
.board24_inter-plaza__bots.board24-corvet.board24-bots
  .board24-corvet__text 
  .board24-corvet__text-area
    //- bot
    .board24_bot
      .board24_bot__text.board24_ts-5 Крайний <br> срок
      .board24_bot__text-area
        .board24_bot__in-text.board24_ts 01.01.2000
        img(src="assets/img/inter/schedule.svg",alt="img")
    //- bot
    .board24_bot
      .board24_bot__text.board24_ts-3 Планирование сроков
      .board24_bot__text-area 
        .board24_bot__in-text-blue
          p.board24_ts-29 Дополнительно 
          span.icon-arrow_drop_down


//--comments
.board24_inter__comments.board24_inter-comments
  .board24_inter-comments__title.board24_ts-2 Комментарии
  .board24_inter-comments__block
    .board24_inter-comments__plaha
      p.board24_ts Lorem ipsum dolor sit amet, ut per pertassueverit, dissentias honestatis usu an. Ei vim feualiquando, mei enim insolens ut.
      .board24_inter-plaza__link
        img(src="assets/img/inter/edit.svg",alt="img") 
    .board24_inter-comments__shef
      +chef()

//- -------------голубая область---------------------
.board24_inter-plaza


//- ---------чекбокс ---менять id -----------
forma.board24_inter-forma.board24_flex 
  .board24_flex.board24_inter-forma__item 
    input.custom-checkbox(type="checkbox" name="inter2" value="1" id="yes2")
    label.board24_ts-7-b(for="yes2") Сохранить как шаблон

//- ----------линия meet----------------
.meet-content-line
          .meet-content-line__body.board24_jucs.board24_alic 
            forma.board24_inter-forma.board24_flex 
              .board24_flex.board24_inter-forma__item 
                input.custom-checkbox(type="checkbox" name="meet18" value="1"   id="yes2")
                label.board24_ts-7-b(for="meet18")
            +button-color("Проведение","apple-green","#!")
            .meet-content-line__text.board24_ts-34 Акционеры крупнейших компаний
            .meet-content-line__type.board24_ts-12 Reminder
            .meet-content-line__organ.board24_ts-12 Совет директоров
            .meet-content-line__date.board24_ts-12 Dec 14, 2018


//- ------------иконка edit--------------
img(src="assets/img/inter/edit.svg",alt="img") 
span.icon-edit
//- ------------иконка треугольничек----------------------------
span.icon-arrow_drop_down 

//- ---------иконка кoрзина----
span.icon-delete

//--- пробел http://htmlbook.ru/samhtml/tekst/spetssimvoly
&nbsp;

//- ----- иконка стрелочка скачать----
mixin arrow-download
  .board24_line-plaha__img1
    img(src="assets/img/main/Vector-1.svg",alt="img")
    img(src="assets/img/main/Vector-2.svg",alt="img")

//- +arrow-download

//- ------overlay--------------
background-color: rgba(50,60,71,.56);

//- --------------------
mixin chef()
  .board24_chef__img
    img(src="assets/img/main/image-1.png",alt="img")

//- +chef()
