mixin button-blue(text,link)
  .board24_button-blue
    a.board24_button-blue__link(href=link)=text

mixin button-color(text, color,link)
  div(class="board24_button-color" + " "+ color)
    a(href=link)=text

mixin button-color-cub(text, color,link)
  div(class="board24_button-color-cub" + " " + color)
    a(href=link)=text    

mixin button-blue-small(text,link)
  .board24_button-blue-small 
    a.board24_button-blue-small__link(href=link)=text

mixin button-empty(text,link)
  .board24_button-empty
    a.board24_button-empty__link(href=link)=text

mixin button-arrow(text,link)
  .board24_button-arrow
    a.board24_button-arrow__link(href=link)=text
      .board24_line-plaha__img1
        img(src="assets/img/main/Vector-1.svg",alt="img")
        img(src="assets/img/main/Vector-2.svg",alt="img")
