mixin button-blue(text,link)
  .board24_button-blue
    a.board24_button-blue__link(href=link)=text


mixin button-color(text, color,link)
  div(class="board24_button-color" + " "+ color)
    a(href=link)=text

mixin button-color-cub(text, color,link)
  div(class="board24_button-color-cub" + " " + color)
    a(href=link)=text    

mixin button-blue-small(text,link)
  .board24_button-blue-small 
    a.board24_button-blue-small__link(href=link)=text

mixin button-empty(text,link)
  .board24_button-empty
    a.board24_button-empty__link(href=link)=text

mixin button-arrow(text,link)
  .board24_button-arrow
    a.board24_button-arrow__link(href=link)=text
      .board24_line-plaha__img1
        img(src="assets/img/main/Vector-1.svg",alt="img")
        img(src="assets/img/main/Vector-2.svg",alt="img")

mixin tab-item(text)
  .board24_line-detail__tab-item.board24_tab-item.board24_tab-js
    .board24_tab-item__title=text
      span.icon-arrow_drop_down
      .board24_tab-item__bell(href="#!") 
        img(src="assets/img/group/bell.svg",alt="img")
    .board24_tab-item__drop-down.board24_item-js
      .board24_tab-item__button
        +button-empty("Добавить","home.html") 
      .board24_tab-item__body.board24_flex
        .board24_tab-item__folder
          a.board24_tab-item__link(href="#!")
            .board24_tab-item__img
              img(src="assets/img/group/folder.png",alt="img") 
            .board24_tab-item__text 
              .board24_tab-item__icon
                img(src="assets/img/group/img-3.png",alt="img")  
              span Заседание Совета Дир... 
        .board24_tab-item__folder
          a.board24_tab-item__link(href="#!")
            .board24_tab-item__img
              img(src="assets/img/group/folder.png",alt="img") 
            .board24_tab-item__text 
              .board24_tab-item__icon
                img(src="assets/img/group/img-3.png",alt="img")  
              span Заседание Совета Дир... 
        .board24_tab-item__folder
          a.board24_tab-item__link(href="#!")
            .board24_tab-item__img
              img(src="assets/img/group/folder.png",alt="img") 
            .board24_tab-item__text 
              .board24_tab-item__icon
                img(src="assets/img/group/img-3.png",alt="img")  
              span Заседание Совета Дир... 
        .board24_tab-item__folder
          a.board24_tab-item__link(href="#!")
            .board24_tab-item__img
              img(src="assets/img/group/folder.png",alt="img") 
            .board24_tab-item__text 
              .board24_tab-item__icon
                img(src="assets/img/group/img-3.png",alt="img")  
              span Заседание Совета Дир... 
      a.board24_line-detail__img(href="#!")
      .board24_100
      a.board24_tab-item__look Смотреть все 

mixin arrow-download
  .board24_line-plaha__img1
    img(src="assets/img/main/Vector-1.svg",alt="img")
    img(src="assets/img/main/Vector-2.svg",alt="img")




mixin img-bg(src, alt)
  .board24_img-bg.board24_bg(
    src=src,
    style=`background-image: url('${src}')`,
    alt=alt
  )

mixin chef()
  .board24_chef__img
    img(src="assets/img/main/image-1.png",alt="img")

//- +chef()

mixin avatar-name()
  a.board24_avatar-name(href="#!")
    img(src="assets/img/main/image-1.png",alt="img")
    .board24_board24_avatar-name__name
      p Эдил Нургожин
      p Председатель Совета директоров  

//- +avatar-name()


//- --------- fonts.scss 287----------------------
//- hr

//- h4 h4 Text Style 22

//- hr

//- h2 h2 Text Style 20

//- hr

//- h3 h3 Text Style 34

//- hr

//- h5 h5 Text Style 38

//- hr

//- h6 h6 Text Style 25

//- hr


//- span.board24_cross.icon-close2





//- .butterscotch{
//- background-color: #ffb946;
//-  }
//- .apple-green{
//-   background-color: $apple-green;
//- }
//- .silver{
//-   background-color: $silver;} 

//- .azure{
//-   background-color: $azure;
//- }